{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>N-Air</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <link href="{% static '' %}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{% static '' %}css/style.css" rel="stylesheet" type="text/css" />
    <script src="{% static '' %}js/simpleCart.min.js"></script>
    <script src="{% static '' %}js/jquery-2.1.4.min.js"></script>
    <script src="{% static '' %}js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href="/">N-AIR</a>
                    {% comment %} <a href="{% url 'home' %}">N-AIR</a> / bu eng bosh menyu degani {% endcomment %}
                </div>
                <div class="login-bars">
                    {% comment %} {% url 'path_name' dan foydalanish %} {% endcomment %}
                    {% comment %} <a class="btn btn-default log-bar" href="{% url 'register' %}" role="button">Register</a> {% endcomment %}
                    {% comment %} pathni o'zi bilan kirib borish usuli  {% endcomment %}
                    <a class="btn btn-default log-bar" href="/register/" role="button">Register</a>
                    {% comment %} faqat bittalik path larda ishlaydi ichma ich kirishda ishlamaydi (id, pk, slug bular bilan kirib bo'lmaydi){% endcomment %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-botom">
                <div class="content white">
                    <nav class="navbar navbar-default nav-menu" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="collapse navbar-collapse collapse-pdng" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav nav-font">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b
                                            class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% for category in categories %}
                                        {% comment %} get_absolute_url orqali kirish hamma joyda bir hil ishlaydi {% endcomment %}
                                        {% comment %} <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li> {% endcomment %}
                                        {% comment %} {% url 'path_name' for obyekti blan kirish %} hamma joyda bir hil ishlaydi {% endcomment %}
                                        <li><a href="{% url 'products' category.slug %}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% comment %} {% url 'path_name' %} bilan kirish istalgan joyda muammosiz ishlaydi {% endcomment %}
                                {% comment %} <li><a href="{% url 'contact' %}">Contact Us</a></li> {% endcomment %}
                                {% comment %} To'lliq path bo'yicha kirish faqat bittaliklarda hamma joyda muammosiz ishlaydi ichma ich kirishda (slug, id, pk)larda ishlamaydi{% endcomment %}
                                <li><a href="/contact/">Contact Us</a></li>
                                <div class="clearfix"></div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </nav>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <div class="footer-grid">
        <div class="container">
            <div class="col-md-2 re-ft-grd">
                <h3>Categories</h3>
                <ul class="categories">
                    {% for cat in categories %}
                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                    {% comment %} <li><a href="{% url 'products' cat.slug %}">{{ cat.name }}</a></li> {% endcomment %}
                    {% comment %} Tepadagi ikki usul har doim bir maromda yaxshi ishlaydi hech qanday muammo bo'lmaydi {% endcomment %}
                    {% comment %} <li><a href="/products/<slug:slug>/">{{ cat.name }}</a></li> bu usul umuman ishlamaydi bunday usul bilan kirib borish mumkin emas. Bu usul faqat bittalik kirishda ishlaydi hamma joyda hech qanday muammosiz {% endcomment %}
                    {% comment %} <li><a href="/products/">{{ cat.name }}</a></li> bu usulda ishlaydi faqat {% endcomment %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2 re-ft-grd">
                <h3>Short links</h3>
                <ul class="shot-links">
                    <li><a href="/">Home</a></li>
                    {% comment %} <li><a href="{% url 'home' %}">Home</a></li> {% endcomment %}
                    <li><a href="/contact/">Contact Us</a></li>
                    {% comment %} <li><a href="{% url 'contact' %}">Contact Us</a></li> {% endcomment %}
                </ul>
            </div>
            <div class="col-md-6 re-ft-grd">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="https://facebook.com/" class="fb">Facebook</a></li>
                    <li><a href="https://x.com/" class="twt">X</a></li>
                    <li><a href="https://t.me/turdali_khasanbayev_07/" class="gpls">Telegram</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="col-md-2 re-ft-grd">
                <div class="bt-logo">
                    <div class="logo">
                        <a href="{% url 'home' %}" class="ft-log">N-AIR</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copy-rt">
            <div class="container">
                <p>&copy; 2024 N-AIR All Rights Reserved. Design by <a href="https://instagram.com/turdali.hasanboyev.07/">Turdali Hasanboyev Instagram</a></p>
            </div>
        </div>
    </div>
</body>

</html>
