{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="shop-grid">
    <div class="container">
        {% for product in products %}
        <div class="col-md-4 grid-stn simpleCart_shelfItem">
            <div class="ih-item square effect3 bottom_to_top">
                <div class="bottom-2-top">
                    <div class="img"><img src="{{ product.image_1.url }}" alt="img-responsive" class="img-responsive gri-wid"></div>
                    <div class="info">
                        <div class="pull-left styl-hdn">
                            <h3>{{ product.name }}</h3>
                        </div>
                        <div class="pull-right styl-price">
                            <!-- modelda get_absolute_url yozib undan foydalanish product bu yerda for argument -->
                            <p><a href="{{ product.get_absolute_url }}" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart"
                                aria-hidden="true"></span> <span class=" item_price">{{ product.price_type }}{{ product.price }}</span></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="quick-view">
                <!-- url name va for obyekti orqali kirib borish -->
                <a href="{% url 'product-detail' product.slug %}">Quick view</a>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
