{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
            {% comment %} templateda ichma ich kirish faqat . orqali boladi {% endcomment %}
        </ol>
    </div>
</div>
<div class="showcase-grid">
    <div class="container">
        <div class="col-md-8 showcase">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="{{ product.image_1.url }}">
                        <div class="thumb-image"> <img src="{{ product.image_1.url }}" data-imagezoom="true"
                            class="img-responsive"> </div>
                    </li>
                    <li data-thumb="{{ product.image_2.url }}">
                        <div class="thumb-image"> <img src="{{ product.image_2.url }}" data-imagezoom="true"
                            class="img-responsive"> </div>
                    </li>
                    <li data-thumb="{{ product.image_3.url }}">
                        <div class="thumb-image"> <img src="{{ product.image_3.url }}" data-imagezoom="true"
                            class="img-responsive"> </div>
                    </li>
                    <li data-thumb="{{ product.image_4.url }}">
                        <div class="thumb-image"> <img src="{{ product.image_4.url }}" data-imagezoom="true"
                            class="img-responsive"> </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.category.name }}</p>
                    <h4>&#36;{{ product.price }}</h4>
                </div>
                <div class="pull-left rating-stars">
                    <ul>
                        <li><a href="/" class="active"><span class="glyphicon glyphicon-star star-stn"
                            aria-hidden="true"></span></a></li>
                        <li><a href="/" class="active"><span class="glyphicon glyphicon-star star-stn"
                            aria-hidden="true"></span></a></li>
                        <li><a href="/" class="active"><span class="glyphicon glyphicon-star star-stn"
                            aria-hidden="true"></span></a></li>
                        <li><a href="/"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                        </li>
                        <li><a href="/"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="showcase-last">
                <h3>Product Details</h3>
                <p>{{ product.description|safe }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="specifications">
    <div class="container">
        <h3>Item Details</h3>
        <div class="detai-tabs">
            <ul class="nav nav-pills tab-nike" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                    data-toggle="tab">Highlights</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                    data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Terms
                    & conditiona</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <p>{{ product.highlight|safe }}</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <p>{{ product.description|safe }}</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    {{ product.terms_conditional|slice:':225' }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="you-might-like">
    <div class="container">
        <h3 class="you-might">Products You May Like</h3>
        {% for product in products %}
        <div class="col-md-4 grid-stn simpleCart_shelfItem">
            <div class="ih-item square effect3 bottom_to_top">
                <div class="bottom-2-top">
                    <div class="img"><img src="{{ product.image_1.url }}" alt="img" class="img-responsive gri-wid"></div>
                    <div class="info">
                        <div class="pull-left styl-hdn">
                            <h3>{{ product.name }}</h3>
                        </div>
                        <div class="pull-right styl-price">
                            <p><a href="{{ product.get_absolute_url }}" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart"
                                aria-hidden="true"></span> <span class=" item_price">{{ product.price_type }} {{ product.price }}</span></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="quick-view">
                <a href="{% url 'product-detail' product.slug %}">Quick view</a>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
